body {
  text-align: justify;
}

/* Better headings */
h1, h2, h3 {
  font-family: "Roboto Slab", serif;
}

/* Spread content tabs to full width */
.tabbed-labels--linked label {
  text-align: center;
  flex: 1;
}

/* Less bold admonition titles */
.md-typeset .admonition-title {
  font-weight: 500;
}

/* -------------------------------------------------------------------------- */

/* Fixme: View edit floating */
.md-content__inner {
  position: relative;
}
.md-content__button {
  position: absolute;
  top: .2rem;
  right: .4rem;
  float: none;
}
blockquote {
  display: none;
}
