name: make-website
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      # Fixme: build script
      - name: Symlink workaround
        run: |
          ln .github/readme.md website/index.md
          ln pyaket/resources/images/logo.png website/logo.png

      - name: Build website
        run: uvx zensical build --clean

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

      - name: Deploy pages
        uses: actions/deploy-pages@v4
