name: make-docker
on:
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Get version
        run: echo "VERSION=$(uv version --short --color never)" >> "$GITHUB_ENV"

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build and push images
        uses: docker/build-push-action@v6
        with:
          tags: |
            ghcr.io/brokensource/pyaket:latest
            ghcr.io/brokensource/pyaket:${{ env.VERSION }}
          push: true
          file: dockerfile
          platforms: linux/amd64
          context: .