name: make-crate
on:
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Login crates.io
        uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Publish crate
        run: cargo publish
        working-directory: pyaket
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
